/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/

.left-box {
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 22%;
    height: 32rem;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.right-box {
    width: 20%;
    height: 40rem;
    background-color: hsl(270, 20%, 96%);
    border-top-left-radius: 199px;
    width: 20%;
    position: absolute;
    top: 5rem;
    margin-left: 80%;
}