/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/


body {
    background-color: hsl(270, 20%, 96%);
}
.left-box {
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 22%;
    height: 41rem;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.right-box {
    width: 20%;
    height: 38rem;
    background-color: hsl(278, 25%, 94%);
    border-top-left-radius: 199px;
    width: 20%;
    position: absolute;
    top: 15%;
    margin-left: 80%;
}

.text {
    width: 30%;
    text-align: center;
    margin-left: 50%;
    position: absolute;
    top: 30%;
}

.text h2 {
    font-weight: 500;
}
.text p {
    color: hsl(270, 7%, 64%);
}

.mob {
    width: 20%;
    height: 37rem;
    background-color: hsl(270, 20%, 96%);
    border: 10px solid hsl(0, 0%, 100%);
    margin-left: 20%;
    position: absolute;
    top: 5%;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.box {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 4.9rem;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.hold {
    height: 1.2rem;
    width: 45%;
    background-color: hsl(0, 0%, 100%);
    margin-left: 28%;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.content {
    margin-top: 0.8rem;
}
.fa-chevron-left {
    color: hsl(0, 0%, 100%);
    position: absolute;
    left: 0.5rem;
    top: 2.3rem ;
}

.content img {
    width: 10%;
    border: 1px solid  hsl(0, 0%, 100%);
    border-radius: 50%;
    position: absolute;
    left: 1.7rem;
}

.name {
    color: hsl(0, 0%, 100%);
    font-size: 0.8rem;
    position: absolute;
    left: 4rem;
    top: 2rem ;
}

.stats {
    color: hsl(0, 0%, 100%);
    font-size: 0.5rem;
    position: absolute;
    left: 4rem;
    top: 3.1rem ;
}

.fa-ellipsis-v {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 2.3rem ;
    right: 1rem;
}

.msg {
    margin-top: 1rem;
    margin-left: 0.7rem;
}

.msg1,
.msg2 {
    color: hsl(276, 55%, 52%);
    background-color: hsl(278, 25%, 94%);
    font-size: 0.6rem;
    width: 62%;
    padding: 0.5rem;
    border-radius: 17%;
    line-height: 0.9rem;
}

.msg2 {
    margin-top: 0.5rem;
}

.reply1 {
    width: 65%;
    margin-top: 1rem;
    margin-left: 5.9rem;
}

.reply1 img {
    width: 30%;
    border-radius: 25%;
    padding: 0 0.2rem;
}

.reply2 {
    background-color: white;
    font-size: 0.6rem;
    width: 62%;
    padding: 0.5rem;
    border-radius: 17%;
    margin-left: 5.7rem;
    line-height: 0.9rem;
    margin-top: 0.5rem;
}

.ask {
    margin-top: 0.5rem;
}

.price1 {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 70%;
    height: 2.5rem;
    border-radius: 15%;
    margin-left: 0.7rem;
}

.fa-circle {
    color: white;
    position: absolute;
    bottom: 7.4rem;
}

.time {
    color: white;
    font-size: 0.6rem;
    position: absolute;
    bottom: 7.5rem;
    left: 2.2rem;
}

.money {
    color: white;
    font-size: 0.9rem;
    position: absolute;
    bottom: 7.3rem;
    left: 9.2rem;
    font-weight: bold;
}

.price {
    margin-bottom: 0.5rem;
}

.time2 {
    bottom: 4.6rem;
}

.money2 {
    bottom: 4.5rem;
}

.circle2 {
    bottom: 4.5rem;
}